<div class="header portico-header">
    <div class="header-main" id="top_navbar">
        <div class="float-left">
            <div>
                <a class="brand logo" href="{{ realm_uri }}{% if page_is_help_center %}/help/{% endif %}">
                    <span class="applogo">
                        <i class="la la-sms"></i>
                    </span>
                    <span>925 chat</span>
                    {% if page_is_help_center %}
                    <div class="light"> | User Documentation</div>
                    {% endif %}
                    {% if page_is_api_center %}
                    <div class="light"> | API Documentation</div>
                    {% endif %}
                </a>
            </div>
        </div>

        <div class="float-right top-links">
            {% if user_is_authenticated %}
                {% include 'zerver/portico-header-dropdown.html' %}
            {% else %}
                {% if login_link_disabled %}
                {% elif not only_sso %}
                <a href="{{login_url}}">{{ _('Log in') }}</a>
                {% endif %}
            {% endif %}

            {% if register_link_disabled %}
            {% elif only_sso %}
                <a href="{{ url('login-sso') }}">{{ _('Log in') }}</a>
            {% else %}
                {% if user_is_authenticated %}
                {% else %}
                <a href="{{ url('register') }}">{{ _('Register') }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
