<div class="dropdown">
    <div class="dropdown-pill">
        <img class="header-realm-icon" src="{{ realm_icon }}" alt="{{ _('Go to 925 App') }}"/>
        <div class="realm-name">{{ realm_name }}<i class="la la-angle-down"></i></div>
    </div>
    <ul>
        <li>
            <a href="/">
                <i class="la la-sms"></i>
                925 Chat
            </a>
        </li>
        <li class="logout">
            {% include 'zerver/app/logout.html' %}
            <a href="#logout">
                <i class="la la-sign-out-alt"></i>
                Log out
            </a>
        </li>
    </ul>
</div>
