{{! Contents of the "all messages sidebar" popup }}
<ul class="nav nav-list">
    <li>
        <a id="mark_all_messages_as_read">
            <i class="la la-list-alt" aria-hidden="true"></i>
            {{#tr this}}Mark all read{{/tr}}
        </a>
    </li>
</ul>
