<div class="icon" style="background-color: {{color}}">
    <div class="flex">
        {{#if invite_only}}
        <i class="la la-lock" aria-hidden="true"></i>
        {{else if is_web_public}}
        <i class="la la-globe la-lg" aria-hidden="true"></i>
        {{else}}
        <i class="la la-hashtag" aria-hidden="true"></i>
        {{/if}}
    </div>
</div>
