$headerheight: 40px;
$columnheight: 59px;
$leftgutter:    8px;
$leftcolumn:   32px;
$topicindent: calc($leftgutter + $leftcolumn + 4px);
$ink:       #000000E0;
$blue:      #1185DD;
$orange:    #DD8511;
$green:     #7AB800;
$purple:    #8511DD;
$yellow:    #DD8511;
$red:       #B8007A;
$border:    1px solid #E6E6E6;
$hover:     #E6E6E6;
$selected:  #EBEBEB;


#private-container,
.topic-list {
    position: fixed;
    top: calc($headerheight + $columnheight + 1px);
    left: 220px;
    width: 319px;
    min-height: calc(100% - $headerheight);
    border-right: $border;
}

#stream_filters,
#global_filters {
    font-size: 14px;
    margin: 10px 0 0 0;
}

#tab_bar {
    position: fixed;
    top: $headerheight;
    left: 220px;
    width: 319px;
    height: $columnheight;
    border-right:  $border;
    border-bottom: $border;
}

.narrows_panel {
    width: 219px;
    max-width: 219px;
    border-right: $border;
    min-height: calc(100% - $headerheight);
}

#global_filters {
    .filter-icon {
        display: inline-block;
        min-width: $leftcolumn;
        text-align: center;
    }

    .arrow {
        float: right;
        display: none;
    }
    
    .count {
        margin-right: 0px;
        margin-top: 5px;
        display: none;
    }

    i {
        opacity: 0.7;
        padding: 0px 3px 0px 0px; 
        font-size: 22px; 
        vertical-align: middle;
    }
}

.top_left_row,
.bottom_left_row {
    padding: 6px 0px; 
    border-radius: 0px;
}

.top_left_row:hover,
.bottom_left_row:hover,
.top_left_private_messages:hover {
    background-color: $hover;
}

.topic-unread-count {
    display: inline-block;
}
