$headerheight: 40px;
$leftgutter:    8px;
$leftcolumn:   32px;
$topicindent: calc($leftgutter + $leftcolumn + 4px);


#private-container {
    position: fixed;
    top: $headerheight;
    left: 220px;
    width: 319px;
    min-height: calc(100% - $headerheight);
    border-right: 1px solid #E6E6E6;
}

#stream_filters,
#global_filters {
    font-size: 14px;
    margin: 10px 0 0 0;
}
