$headerheight:     48px;
$columnheight:     72px;
$null:              0px;
$twocolumns:      540px;
$ink:         #000000E0;
$gray:          #7B7B7B;
$columnone:     #FAFAFA;
$blue:          #1185DD;
$orange:        #DD8511;
$green:         #7AB800;
$purple:        #8511DD;
$yellow:        #DD8511;
$red:           #B8007A;
$border:        1px solid #E6E6E6;
$hover:         #E6E6E6;
$selected:      #EBEBEB;
$fonts:      sans-serif,Segoe UI,BlinkMacSystemFont,Helvetica Neue,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; 

body,
html {
    width:          100vw;
    height:         100vh;
    overflow-x:     hidden;
    overflow-y:     hidden;
    touch-action:   manipulation;
    font-family:    $fonts;
    font-size:      12px;
}

input {
    border-radius: 0;
}

#app-loading.loaded {
    display: none !important; /* loaded, hide */
}

.header {
    position: fixed;
    top: $null;
    z-index: 102; /* Needs to be higher than .alert-bar-container */
    width: 100vw;
    padding: 0px;
}

.header-main {
    height: $headerheight;
    max-height: $headerheight;
    background-color: $blue;
}

#navbar-buttons {
    white-space: nowrap;
    float: right;

    ul.nav {
        margin: 0px;

        .dropdown-toggle,
        li.active .dropdown-toggle {
            font-size: 20px;
            color: inherit;
            opacity: 0.5;
            text-shadow: none;
            padding-left: 0px !important;
            background-color: inherit;
            box-shadow: inherit;
            display: block;
            position: absolute;
            right: 6px;
            top: -3px;
        }
        
        .dropdown { position: unset; }
        
        .dropdown-toggle,
        li.active .dropdown-toggle:hover {
            opacity: 1;
        }

        li.dropdown.open .dropdown-toggle {
            background: none;
            opacity: 1;
            text-shadow: none;
        }

        li.dropdown li.divider {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

.actual-dropdown-menu {
    color: $ink;
    
    li>a:hover {
        background: unset;
        background-color: $hover;
        color: $ink;
    }
}

.alert-box, 
#panels {
    position: fixed;
    top: $headerheight;
    left: 0;
    width: 100vw;
    z-index: 999;
}

.home-error-bar {
    display: none;
    .alert {
        margin: auto;
    }
}

.empty_feed_notice {
    display: none;
}

.app-main .column-left,
.app-main .column-middle,
.app-main .column-right {
    position: fixed;
    top: $headerheight;
    height: calc(100vh - $headerheight);
}

.app-main .column-left {
    left: $null;
    background-color: $columnone;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    li a {
        color: $ink;
        text-decoration: none;  
    }
}

.app-main .column-middle {
    left: $twocolumns;
    width: calc(100% - $twocolumns); 
    position: absolute; 
    right: $null;
}

.app-main .column-right {
    display: none;
}

.notdisplayed {
    display: none !important;
}

.notvisible {
    visibility: hidden !important;
    width: 0px !important;
    min-width: 0px !important;
    min-height: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
    position: absolute !important;
}

.preserve_spaces { white-space: pre-wrap; }

.modal-bg { background-color: $columnone; }

.logout { white-space: nowrap; }

.sidebar-title {
    font-size: 14px;
    display: inline;
}

// Second left column

#searchbox_form {
    position: fixed;
    top: 48px;
    left: 220px;
    background-color: $columnone;
    width: 309px;
    margin: 10px 5px;
    
    #search_arrows {
        width: 277px;
        vertical-align: top;
        
        .search_icon {
            font-size: 21px;
            display: inline-block;
            padding: 5px 12px 0px 8px;
        }
    }
    
    .search_button {
        position: absolute;
        right: 0px;
        top: 6px;
        float: right;
        background: 0 0;
        border-radius: 0;
        border: none;
        height: 30px;
        text-align: center;
        padding: 9px 4px;
        color: #ccc;
        font-size: 18px;
        box-shadow: none;
        text-shadow: none;
        z-index: 5;
    }
}

#searchbox .navbar-search:not(.expanded), #searchbox_legacy .navbar-search:not(.expanded) {
    display: none;
}

#search_query {
    border-radius: 0;
    border: 0;
    background-color: unset;
}

.search_icon {
    display: inline-block;
    margin: 4px 8px;
    {
        font-size: 21px;
    }
}

// Middle colmun
.column-middle {
    height: 0;
}

div.message_table {
    border-collapse: separate;
    margin-left: auto;
    display: none;
    width: 100%;
}

.tab-content {
    overflow: auto;

    div.focused_table {
        display: block;
    }
}

.message_header {
    position: sticky;
    $top: $headerheight;
    left: $twocolumns;
    width: calc(100% - $twocolumns);
    height: $columnheight;
    background-color: #FAFAFA;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 12px;
}

.search_icon search_closed {
    position: fixed;
    top: 0px;
    right: calc(100vw - $twocolumns);
}

.messagebox {
    position: relative;
    word-wrap: break-word;
    cursor: pointer;
    vertical-align: top;
    border: none;
}

.message_content {
    line-height: 1.214;
    min-height: 17px;
    font-size: 14px;
    margin-left: 46px;
    display: block;
    position: relative;
    overflow: hidden;
}

.message_length_controller {
    display: none;
    text-align: center;
    color: #0087cc;
    margin-left: 5px;
    margin-right: 35px;
    margin-top: 10px;
}

.message_controls>div {
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    width: 16px;
    text-align: center;
}

// Right column

.column-right {
    float: right;
}

.nav {

    .dropdown-toggle {
        a {
            padding: 8px;
            display: inline-block;
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
    }
    
    .dropdown-menu {
        position: fixed;
        left: unset;
        top: 48px;
        right: 8px;
        border-radius: 0px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
}

// Temporary stuff

.brand, .top-messages-logo {display: none!important;} // temp hiding
