$headerheight: 40px;
$ink:       #000000E0;
$columnone: #FAFAFA;
$blue:      #1185DD;
$orange:    #DD8511;
$green:     #7AB800;
$purple:    #8511DD;
$yellow:    #DD8511;
$red:       #B8007A;
$border:    1px solid #E6E6E6;
$hover:     #E6E6E6;
$selected:  #EBEBEB;

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: manipulation;
    font-family: Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,Segoe UI,Roboto,Noto,Oxygen-Sans,Ubuntu,Cantrell,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

#app-loading.loaded {
    display: none !important; /* loaded, hide */
}

.header {
    position: fixed;
    top: 0px;
    z-index: 102; /* Needs to be higher than .alert-bar-container */
    width: 100%;
    height: $headerheight;
    max-height: $headerheight;
    padding: 0px;
}

#top_navbar {
    background-color: $blue;
}

.home-error-bar {
    display: none;
    width: 75%;
    .alert {
        margin: auto;
    }
}


.app-main .column-left,
.app-main .column-middle,
.app-main .column-right {
    position: fixed;
    top: $headerheight;
}

.app-main .column-left {
    left: 0px;
    background-color: $columnone;
    li a {
        color: $ink;
        text-decoration: none;  
    }
}

.app-main .column-middle {
    left: 540px;
}

.app-main .column-right {
    display: none;
}



.brand, .top-messages-logo, #searchbox_form {display: none!important;} // temp hiding
