$headerheight: 40px;
$ink:       #000000E0;
$columnone: #FAFAFA;
$blue:      #1185DD;
$orange:    #DD8511;
$green:     #7AB800;
$purple:    #8511DD;
$yellow:    #DD8511;
$red:       #B8007A;
$border:    1px solid #E6E6E6;
$hover:     #E6E6E6;
$selected:  #EBEBEB;

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: manipulation;
    font-family: Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,Segoe UI,Roboto,Noto,Oxygen-Sans,Ubuntu,Cantrell,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

#app-loading.loaded {
    display: none !important; /* loaded, hide */
}

.header {
    position: fixed;
    top: 0px;
    z-index: 102; /* Needs to be higher than .alert-bar-container */
    width: 100%;
    padding: 0px;
}

.header-main {
    height: $headerheight;
    max-height: $headerheight;
    background-color: $blue;
    
}

#navbar-buttons {
    white-space: nowrap;
    margin-left: 15px;
    margin-top: 7px;
    display: inline-block;
    float: right;

    ul.nav {
        margin: 0px;

        .dropdown-toggle,
        li.active .dropdown-toggle {
            font-size: 20px;
            color: inherit;
            opacity: 0.5;
            text-shadow: none;
            padding-left: 0px !important;
            background-color: inherit;
            box-shadow: inherit;
            display: block;
            position: absolute;
            right: 6px;
            top: -3px;
        }

        .dropdown-toggle,
        li.active .dropdown-toggle:hover {
            opacity: 1;
        }

        li.dropdown.open .dropdown-toggle {
            background: none;
            opacity: 1;
            text-shadow: none;
        }

        li.dropdown li.divider {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

.alert-box, 
#panels {
    position: fixed;
    left: calc(540px + (100% - 540px) * 0.125);
    width: calc((100% - 540px) * 0.75);
    top: 25%;
    z-index: 999;
}

.home-error-bar {
    display: none;
    .alert {
        margin: auto;
    }
}


.app-main .column-left,
.app-main .column-middle,
.app-main .column-right {
    position: fixed;
    top: $headerheight;
}

.app-main .column-left {
    left: 0px;
    background-color: $columnone;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    li a {
        color: $ink;
        text-decoration: none;  
    }
}

.app-main .column-middle {
    left: 540px;
}

.app-main .column-right {
    display: none;
}

.notdisplayed {
    display: none !important;
}

.notvisible {
    visibility: hidden !important;
    width: 0px !important;
    min-width: 0px !important;
    min-height: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
    position: absolute !important;
}

.preserve_spaces {
    white-space: pre-wrap;
}

.logout {
    white-space: nowrap;
}

.sidebar-title {
    font-size: 14px;
    display: inline;
}

// Middle colmun

div.message_table {
    border-collapse: separate;
    margin-left: auto;
    display: none;
    width: 100%;
}

// Temporary stuff

.brand, .top-messages-logo, #searchbox_form {display: none!important;} // temp hiding
